/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

body{
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    /* background-color: #e4e4e4; */
}

nav{
    height: 132px;
    padding: 27px 75px;
    color: #488CE0;
    margin-bottom: 60px;
    background-color: white;
    width: 100%;
}

nav #nav-elements, #main-form{
    width: 100%;
    max-width: 1920px;
}

nav img#logo{
    width: 95px;
    height: 78px;
}

nav #language{
    margin-right: 7px;
}

nav #language-options{
    margin-right: 28px;
}

nav #login{
    text-decoration: none;
    color: #488CE0;
    transition: 0.2s ease;
    text-align: center;
    font-size: 13px;

    padding: 5px 28px;
    border-radius: 7.86px;
    border: 0.873239px solid #488CE0;
    box-shadow :0px 0.873239px 6.11268px rgba(0, 0, 0, 0.49);
    
}

#login:hover{
    background-color: #488CE0;
    color: #FFFFFF;
}

#logo-title{
    font-size: 25px;
    padding-left: 10px;
    align-items: flex-end;
}

#logo-title #subtitle{
    font-size: 15px;
}

form#main-form{
    flex-grow: 1;
    background-color: white;
}

header{
    /* width: 100%; */
    max-width: 1830px;
    height: 490px;
    margin-right: 91px;
    background-color: #488CE0;
    padding: 95px 157px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    background-image: url('/img/background.png');
    background-position: top;
    background-size: 1766px;
    color: #FFFFFF;
}

header #title{
    font-weight: 900;
    font-size: 87.8561px;
    line-height: 74px;
    margin-bottom: 7px;
}

header #title-description{
    max-width: 1336px;
    font-style: normal;
    font-size: 25.4256px;
    line-height: 43px;
    margin-bottom: 7px;
}

header #search-bar{
    background-color: white;
    /* padding: 6px; */
    border-radius: 25px;
    padding-left: 24px;
}

main#main-content{
    transition: 0.5s ease;
    min-height: 100px;
}

#search-bar input{
    flex-grow: 1;
}

#search-bar span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#search-bar input{
    font-size: 20px;
    padding: 0 10px;
    color: #488CE0;
    margin: 0 10px;
}

#search-bar button{
    font-style: normal;
    font-weight: 500;
    font-size: 22.6667px;
    line-height: 34px;

    letter-spacing: -0.01em;
    padding: 10px 38px;
    border-radius: 25px;
    background-color: #488CE0;
    color: white;

    border: 0px;
    margin-left: 27px;
    cursor: pointer;
}

#search-bar #filter-button{
    cursor: pointer;
}

#profile{
    padding: 156px 122px;
    /* position: relative; */
    transition: 0.5s ease;
}

#profile #video iframe{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    border-radius: 27px;
}

#profile #content{
    padding: 19px 39px;
    z-index: 1;
}

#profile #content h1{
    max-width: 372.68px;
    margin-bottom: 7px;
    font-style: normal;
    font-weight: 900;
    font-size: 60.195px;
    line-height: 50px;

    color: #488CE0;
}

#profile #content p{
    max-width: 372.68px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15.2113px;
    line-height: 169.69%;

    color: #000000;
}

#vector{
    position: absolute;
    right: -1px;
    bottom: 349px;
    z-index: 0;
}

#filter{
    display: none;
    padding: 67px 195px;
    color: #488CE0;
}

#filter #filter-header{
    margin-bottom: 29px;
}

#filter #filter-header span{
    font-size: 30px;
    margin-right: 22px;
}
#filter #filter-header h1{
    font-style: normal;
    font-weight: 600;
    font-size: 37.5854px;
    line-height: 47px;
    letter-spacing: -0.005em;
}

#filter #published-year{
    margin: 0px 53px;
}

#filter #published-year #custom input{
    margin: 0;
    width: 72px;
    height: 32px;
    
    border: 0.8px solid #488CE0;
    border-radius: 6.42857px;
    padding: 3px 9px;
}

#filter #published-year #custom hr{
    margin: 0px 6px;
    border-color: #488CE0;
}

#filter #published-year #custom h3{
    font-size: 16px;
}

.card{
    padding: 20px 62px;
    padding-bottom: 8px;
    width: 100%;
    max-width: 465px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.card h2{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: -0.005em;
    padding-bottom: 4px;

    border-bottom: 1px #488CE0 solid;
    text-align: center;
    margin-bottom: 16px;
}

.card .row{
    margin-bottom: 12px;
    align-items: center;
}

.card .row input{
    margin-right: 13px;
}

.card .row input[type='checkbox'], .card .row input[type='radio'] {
    display: none;
}

.card .row input+label{
    margin-right: 13px;
    width: 20px;
    height: 20px;
    border: 1.125px solid #488CE0;
    border-radius: 5.625px;
    background-color: white;
    padding: 0;
    cursor: pointer;
    transition: ease 0.1s;
}

.card .row input:checked+label{
    background-color: #488CE0;
}

.card h3{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.005em;
    text-decoration-line: underline;

    color: #488CE0;
    margin-bottom: 7px;
}

#result-search {
    margin-bottom: 109px;
    color: #488CE0;
    padding-top: 67px;
    display: none;
}

#result-search #result-header h1 {
    font-size: 37.5854px;
}

#result-search #result-header span {
    margin-right: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 37.5854px;
    line-height: 47px;
    letter-spacing: -0.005em;
}

#result-search #result-header , #result-search #result-sort {
    padding: 0px 233px;
}

#result-search #result-header{
    margin-bottom: 17px;
}

#result-sort p{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.005em;
    
    color: #488CE0;
    margin-right: 30px;
}

#result-sort select , #result-sort option{
    font-size: 15px;
    padding: 5px 10px;
    padding-right: 30px;
    color: #488CE0;
    position: relative;
    background-color: none;
}

#result-sort select{
    z-index: 1;
    background-color: transparent;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    border: none;
}


.wrapper{
    position: relative;
    margin-right: 26px;
    height: max-content;
}
.arrow-wrapper{
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    justify-content: flex-end;
}

.arrow-wrapper span{
    margin-right: 3px;
}

#result-search #results{
    padding: 59px 195px;
}

#results a{
    text-decoration: none;
}

#results .result{
    padding-right: 0px;
    box-shadow: 0px 0px 27.1102px rgba(0, 0, 0, 0.2);
    border-radius: 22.5918px;
    margin-bottom: 45px;
}

.result .result-content{
    padding: 37px 73px;
}

.result .result-content h3{
    color: #488CE0;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 150%;
    /* or 34px */
    letter-spacing: -0.005em;
    margin-bottom: 42px;
    max-width: 703px;
}

.result .author, .result .tags {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.005em;

    color: #5E6772;
}

.result .tags{
    font-style: normal;
font-weight: normal;
}

.result .comma{
    margin: 0px 5px;
}

.result .result-decor{
    background-color: #488CE0;
    width: 100%;
    max-width: 242px;
    border-top-right-radius: 22.5918px;
    border-bottom-right-radius: 22.5918px;
}

footer{
    background-color: #488CE0;
    color: #FFFFFF;
    width: 100%;
}

footer .group{
    padding: 90px 58px;
}

footer #whatsapp{
    background-color: #FFFFFF;
    color: #488CE0;
    position: fixed;
    bottom: 310px;
    right: 20px;
    border-radius: 200px;
    padding: 10px;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.23);
}

footer #whatsapp span{
    font-size: 60px;
}

footer h1{
    margin-bottom: 15px;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
}

#about, #contacts, #navigation {
    padding: 0px 89px;
}

footer #about{
    width: 100%;
    max-width: 634px;
}

footer #navigation{
    width: 100%;
    max-width: 357px;
}

footer #navigation ul{
    list-style: none;
}

footer #navigation ul li{
    margin-bottom: 11px;
}

footer #contacts {
    width: 100%;
    max-width: 632px;
}

footer #contacts li {
    align-items: flex-start;
    margin-bottom: 10px;
}

footer #contacts span{
    margin-right: 10px;
}

@media only screen and (max-width: 1200px) {

    nav{
        display: none !important;
    }

    header{
        height: 100vh;
        border-radius: 0;
        margin : 0;
        padding: 60px 30px;

        justify-content: center;
        align-items: center;
    }

    header #title{
        font-size: 40px;
        line-height: normal;
        width: 100%;
        max-width: 800px;
    }
    
    header #title-description{
        font-size: 16px;
        max-width: 800px;
        line-height: 150%;
        text-align: justify;
        /* max-width: 700px; */
    }

    #search-bar{
        flex-wrap: wrap;
        background-color: transparent !important;
        padding-left: 0px !important;
        width: 100%;
        justify-content: center;
        max-width: 800px;
    }
    
    #search-bar span:first-child{
        display: none;
    }

    #search-bar a{
        flex-grow: 1;
        max-width: max-content;
    }
    #search-bar a span{
        width: 100%;
        display: flex !important;
        padding: 0px 20px;
    }

    #search-bar span{
        background-color: white;
        font-size: 20px;
        flex-grow: 1;
        
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    #search-bar input[name="title"]{
        flex-grow: 1;
        width: 100%;
        max-width: none;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        margin: 0px;
        margin-bottom: 10px;
        padding: 10px 20px;
        text-align: center;
    }

    #search-bar button{
        flex-grow: 3;
        font-size: 16px;
        padding: 10px 50px;
        border-radius: 5px;
        line-height: normal;
        margin-left: 0px;
        max-width: 300px;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #profile{
        flex-wrap: wrap;
        padding: 0px;
    }

    #video{
        width: 100%;
        margin: 39px;
        border-radius: 0px;
        margin-bottom: 0 !important;
    }
    #video iframe{
        width: 100%;
        border-radius: 0px;
    }

    #vector{
        display: none;
    }

    #main-content{
        min-height: 100vh !important;
    }

    #content{
        max-width: 100%;
    }

    #content h1{
        max-width: none !important;
        font-size: 25px !important;
        line-height: normal;
    }

    #content p{
        max-width: none !important;
        text-align: justify;
    }
    
    #filter{
        padding: 0px;
    }
    
    #filter #filter-header{
        margin-bottom: 0px;
        padding: 5px 30px;
        margin: 20px 0px;
        /* border-bottom: 1px solid #488CE0; */
    }
    
    #filter-header *{
        font-size: 25px !important;
        line-height: normal;
        line-height: normal !important;
    }

    #filter-header span{
        display: none;
    }

    #cards{
        flex-wrap: wrap;
        padding: 0px 30px;
        justify-content: flex-start;
    }

    #subjects{
        margin-bottom: 20px;
    }

    .card{
        box-shadow: none;
        border-radius: 0px;
        padding: 0px;
        /* width: 100%; */
    }
    
    .card *{
        font-size: 16px;
        line-height: normal !important;
    }
    
    .card#published-year{
        margin: 0px !important;
        margin: 20px 0 !important;
        max-width: none;
    }

    .card h2{
        font-size: 16px !important;
        text-align: start;
        padding-bottom: 0px;
        margin-bottom: 10px;
        border-bottom: none;
    }

    .card label.box{
        height: 15px !important;
        width: 15px !important;
    }
    
    #result-header{
        padding: 0px 20px !important;
    }

    #result-header h1{
        font-size: 25px !important;
    }

    #result-header span{
        display: none;
    }

    #result-sort{
        padding: 0px 20px !important;
        flex-wrap: wrap;
    }

    #result-sort p{
        font-size: 16px;
        width: 100%;
    }

    #results{
        margin: 30px 0px;
        padding: 0px !important;
        border-top: 1px solid #52a0ff !important;
        /* border-bottom: 1px solid #52a0ff !important; */
    }

    p#not-found{
        height: 400px;
    }

    #results .result{
        border-radius: 0;
        box-shadow: none;
        border-bottom: 1px solid #52a0ff !important;
        margin-bottom: 0px;
    }

    .result-decor{
        display: none;
    }

    .result-content{
        padding: 20px 30px !important;
    }

    .result-content h3{
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }

    .result-content h4{
        font-size: 17px !important;
    }

    .result-content h5{
        font-size: 14px !important;
    }

    footer #whatsapp{

        display: flex;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;
        
        /* background-color: #488CE0;
        color: white; */
        bottom: 20px;
        right: 20px;
        border-radius: 200px;
        z-index: 2;
    }
    
    footer #whatsapp span{
        font-size: 40px;
    }

    footer .group.row{
        flex-wrap: wrap-reverse;
        padding: 40px 40px;
    }

    footer *{
        line-height: 150%;
        /* text-align: center; */
    }

    #about, #contacts, #navigation{
        padding: 0px;
    }

    #navigation{
        margin: 20px 0px;
        max-width: none !important;
    }

    #about{
        display: none;
    }

  }

  @media only screen and (max-width: 550px) {
    #video{
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: none;
    }

    #video iframe{
        border-radius: 5px !important;
    }
  }

  @media only screen and (max-width: 460px) {
    #result-sort .wrapper{
        margin-bottom: 10px !important;
    }
  }